  <footer class="container mx-auto px-4">
    <div class="border-t border-grey-light pt-4">
      <p>
        &copy; 2018 - Karl Kedrovsky
        <span class="float-right">
          <a href="https://twitter.com/karlkedrovsky" class="text-black pr-4"><i class="fab fa-twitter"></i></a>
          <a href="https://www.facebook.com/karl.kedrovsky" class="text-black pr-4"><i class="fab fa-facebook"></i></a>
          <a href="https://www.linkedin.com/in/karlkedrovsky" class="text-black pr-4"><i class="fab fa-linkedin"></i></a>
          <a href="https://www.strava.com/athletes/3440324" class="text-black"><i class="fab fa-strava"></i></a>
        </span>
      </p>
    </div>
  </footer>
</body>
</html>
