{{ partial "header.html" . }}
<section class="container mx-auto px-4 pt-4">
  <article class="pt-4">
    {{ if .Title }}<h2 class="pb-4 font-heading font-hairline">{{ .Title }}</h2>{{ end }}
    {{ .Content }}
  </article>
</section>
<section class="container mx-auto px-4">
  {{ range .Data.Pages }}
    <article class="pt-4">
      <h3 class="pb-4 font-heading font-hairline"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
      {{ .Summary }}
    </article>
  {{ end }}
</section>
{{ partial "footer.html" . }}
